.display {
    margin: 0 auto 50px;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    font-size: 200px;
    font-weight: bold;
    box-shadow: 0 0 63px 16px rgba(34, 60, 80, 0.2) inset;
}

.stop {
    color: red;
}